<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="UTF-8">
		<title>شوف شاف</title>
		<link href="{% static 'dropzone.css' %}"  	rel="stylesheet" type="text/css" />
		<link href="{% static 'style.css' %}"  		rel="stylesheet" type="text/css" />
		<link href="{% static 'icon.png' %}"             rel="shortcut icon" type="image/x-icon"/>
		<style>
        body {
            background: rgba(0, 0, 0, 0.85);
        }
        video,
        img {
            height: 100%;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
	</head>
	<body>
		<header>
			<h4> شوف شاف </h4>
		</header>
		<a id="download" href="#" download="photo.png"></a>
    	<video autoplay></video>

		
		<script src="{% static 'camera.js' %}" 		type="text/javascript"></script>
	</body>
</html>